HTTP_PORT=8080
BESU_RPC_URL=http://localhost:8545
# Replace with the deployed SimpleStorage contract address from `make devnet-deploy`
CONTRACT_ADDRESS=
PRIVATE_KEY=0x8f2a55949038a9610f50fb23b5883af3b4ecb3c3bb792cbcefbd1542c692be63
POSTGRES_DSN=postgres://appuser:apppass@localhost:5433/appdb?sslmode=disable
